{% extends 'layout.html' %}

{% load static %}
{% block title %} Sign Up {% endblock %}

{% block body %}

        <main class="sign-up-form">
                <!-- Feedback Messages -->
                <div>
                        {% if messages %}
                                {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}">
                                                {{ message }}
                                        </div>
                                {% endfor %}
                        {% endif %}
                </div>
                <div class="container">
                        <div class="row d-flex align-items-center justify-content-center">
                                <div class="col-md-6">

                                        <form action="/signup/" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                                                {% csrf_token %}

                                                <h2 class="text-center">Sign Up</h2>

                                                <div class="mb-3">
                                                        <input type="text" class="form-control" id="Full_name" name="full_name" placeholder="Full Name" required>
                                                </div>

                                                <div class="mb-3">
                                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                                </div>

                                                <div class="mb-3">
                                                        <label for="role" class="form-label">Choose role:</label>
                                                        <select class="form-select" id="role" name="role" required>
                                                                <option value="buyer">Buyer</option>
                                                                <option value="seller">Seller</option>
                                                        </select>
                                                </div>

                                                <div class="mb-3">
                                                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                                                </div>

                                                <div class="mb-3">
                                                        <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Confirm password" required>
                                                </div>

                                                <button type="submit" class="btn btn-success">Sign Up</button>

                                        </form>

                                </div>
                        </div>
                </div>
        </main>

        <script>
                function validateForm() {
                        const password = document.getElementById("password").value;
                        const passwordConfirmation = document.getElementById("password_confirmation").value;

                        if (password !== passwordConfirmation) {
                                alert("Passwords do not match!");
                                return false;
                        }

                        return true;
                }
        </script>

{% endblock %}